@import url('https://fonts.googleapis.com/css?family=Yomogi:wght@700');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Rampart+One');

body {
  font-family:'Rampart One', Times, serif, sans-serif;
}

canvas {
  border: solid black 10px;
  border-radius: 10px;
  margin: 3%;
}

/* .welcome {
  max-width: 25%;
} */

.jumpout {
  font-size: 3rem;
}

.coolTitle {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(250, 196, 196);
  padding: 20px;
  /* padding-left: 10px; 
  padding-right: 10px;  */
  border-radius: 30px;
  transition: background-color 1.25s, box-shadow 1.5s, border-radius;
}

.coolTitle:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.homeTitle {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 20px;
  /* padding-left: 10px; 
  padding-right: 10px;  */
  border-radius: 30px;
  transition: background-color 1.25s, box-shadow 1.5s, border-radius;
}

.homeTitle:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
}
.navig {
  /* border-left: solid 4px rgba(200, 0, 50, 0.7);
  border-right: solid 4px rgba(200, 0, 50, 0.7); */
  border-bottom: solid 4px rgba(200, 0, 50, 0.4);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  background-image: url('./assets/banner3.jpg');
}

.labLink {
  color: pink;
}
.ecoLink {
  color: yellow;
}
.gameLink {
  color: lightblue;
}

.weird {
  text-align: center;
}

.clickable {
  display: inline-block;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
  border: solid 1px rgba(200, 0, 50, 0.7);
  border-radius: 7px;
  filter: opacity(0.8);
  transition: box-shadow 0.75s filter 0.75s;
}

.clickable:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  border: solid 2px black;
  filter: opacity(1);
}

.pageCard {
  min-width: 150px;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 3%;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 4px rgba(200, 0, 200, 0.3);
  border-radius: 25px;
  will-change: transform;
  transition: box-shadow 0.75s;
}

.pageCard {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}  

.pageImage {
  border: solid 7px rgba(200, 0, 200, 0.2)
}

