@import url('https://fonts.googleapis.com/css?family=Yomogi:wght@700');

body {
  font-family: 'Yomogi', sans-serif;
}

canvas {
  border: solid black 10px;
  margin: 3%;
}

.navig {
  /* border-left: solid 4px rgba(200, 0, 50, 0.7);
  border-right: solid 4px rgba(200, 0, 50, 0.7); */
  border-bottom: solid 4px rgba(200, 0, 50, 0.4);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  background-image: url('./assets/banner3.jpg');
}

.labLink {
  color: pink;
}
.ecoLink {
  color: yellow;
}

h1, .clickable {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
  border: solid 3px rgba(200, 0, 50, 0.7);
  border-radius: 7px;
  transition: box-shadow 0.75s;
}

.clickable:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
/* 
h1 {
  min-width: 250px;
  max-width: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border: solid 4px rgba(200, 0, 200, 0.1);
  border-radius: 7px;
  will-change: transform;
  transition: box-shadow 0.75s;
}

h1:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}  */